.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  min-height: 80vh;
  background: linear-gradient(45deg, #19c39e, #2ece7b, #86e025, #e84848, #6af0ce, #339af0, #f44c87, #20c997, #d627e9, #94d82d, #fcc419, #ff922b);
  background-size: 300% 300%;
  animation: gradientBackground 10s ease infinite;
}

.team-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 250px;
  padding: 20px;
}

.team-photo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}

.team-card h3 {
  margin: 10px 0;
  font-size: 20px;
}

.team-card p {
  color: #777;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons a {
  color: #555;
  font-size: 20px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0073b1; /* LinkedIn color */
}

.social-icons a:nth-child(2):hover {
  color: #1da1f2; /* Twitter color */
}

.social-icons a:nth-child(3):hover {
  color: #3b5998; /* Facebook color */
}